.header img {
    height:80px ;
    
}

.header{
    text-align: center;  
        
}

.header nav{
    background-color: black;
    line-height: 46px;
    font-size:22px;
    
    
    
    
 
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    padding: 6px;
    
}

