.header img {
    height:80px ;
    
}

.header{
    text-align: center;  
        
}

.header nav{
    background-color: #F1573E;
    line-height: 46px;
    font-size:22px;
    font-weight: bold;
    text-align: left;
    
 
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    padding: 6px;
    
}

nav a:hover{
    background-color: #D0C0BA;
    border: 1px solid lightgray;
    border-radius: 50px;
    color: #D23888;
}